@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007AFF;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .navbar{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}

header ul{
    list-style: none;
    display: flex;
    gap: 0vw;
}

header ul li{
    background-color: #ffff;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: 400;
    padding: 10px 20px;
    border: 1px solid #c4c4c4;
}

header ul li a{
    color: #ff3737;
}

section > div{
    display: grid;
    grid-template-columns: 35% 65%;
    font-size: 18px;
    padding: 1vw;
}

section > :first-child > div{
    margin-top: 12vh;
}

.topic{
    font-size: 2rem;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
}

form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 28px;
    font-size: 16px;
    
  
}


form div input ,select{
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.buttons{
    flex-direction: row;
    gap:0;
    
}

.buttons button{
    padding: 12px 18px;
    border: 1px solid #c4c4c4;
    cursor: pointer;
    font-size: 14px;
    margin-top: 16px;

}

.buttons > :first-child{
    background-color: #56ABF6;
}

.buttons > :first-child:hover{
    background-color: #0c49a5;
    color: white;
}

.buttons > :nth-child(2){
    background-color: #DB3843;
}

.buttons > :nth-child(2):hover{
    background-color: #be0c17;
    color: white;
}

.buttons > :nth-child(3){
    background-color: #FEBF04;
}

.buttons > :nth-child(3):hover{
    background-color: #c7b409;
    color: white;
}


.buttons > :nth-child(4){
    background-color: #24A746;
}

.buttons > :nth-child(4):hover{
    background-color:green;
    color: white;
}

.buttons > :last-child{
    background-color: #D43A40;
}

.buttons > :last-child:hover{
    background-color:#be0c17;
    color: white;
}

#CustomerManage table , #ItemManage table{
    margin-left: 50px;
}

#CustomerManage th , #CustomerManage td , #ItemManage th , #ItemManage td{
    border: 1px solid #c4c4c4;
    width: 20vw;
    height: 4vw;
    text-align: center;
}

#CustomerManage th , #ItemManage th{
    background-color: #DB3843;
    color: white;
}

section{
    display: none;
}



.tableRow{
   height: auto;
}

.table > div , .tableRows > div{
    display: flex;
}

.table , .tableRows{
    display: flex;
    flex-direction: column;
    padding: 0 5.7vw;
}

.table > div > div , .tableRows > div > div{
    width: 18vw;
    height: 4vw;
    border: 1px solid #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableRows > div > div{
    width: 20vw;
}



h5{
    font-size: 15px;
    color: #ff4343;
    font-weight: 400;
    position: absolute;
    margin-top: 10vh;
    font-family:'Times New Roman', Times, serif;
}


.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

#homePage > div{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 0;
}

table{
    border-collapse: collapse;
}